/* styles.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FAF7F0; /* Light background color */
}

.property-list {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #4A4947; /* Dark color for header */
  border-bottom: 2px solid #B17457; /* Underline with main color */
  padding-bottom: 5px; /* Padding below the header */
}

.property-card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  flex: 1 1 calc(30% - 20px); /* Adjust to fit your design */
  transition: transform 0.2s;
}

.property-card:hover {
  transform: scale(1.05); /* Scale on hover */
}

.property-name {
  font-size: 1.5em;
  color: #333;
}

.error-message {
  color: red;
  text-align: center;
}

.loading-message {
  text-align: center;
}

/* styles.css */
.logout-button {
  background-color: #B17457; /* Main color */
  color: #FAF7F0;            /* Light text color */
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; /* Transition for hover */
}

.logout-button:hover {
  background-color: #4A4947; /* Darker shade for hover effect */
}


/* Additional styling */
.property-card h3 {
  margin: 0;
  font-size: 1.5em;

}

.property-card p {
  margin: 5px 0;
}

.error {
  color: red;
  font-weight: bold;
}

.loading-message,
.error-message {
  text-align: center;
  color: #f00;
}

#root > div > div > button{
  background-color: #B17457 !important;
}
